.right-align {
    text-align: right;
    margin: 10% 5% 0% 0%;
}

  /* webkit solution */
  ::-webkit-input-placeholder { text-align:right; }
  /* mozilla solution */
  input:-moz-placeholder { text-align:right; }
