.right-align {
  text-align: right;
    
    // margin: 10% 5% 0% 0%;
}

#right-align{
  text-align: right;

}
  /* webkit solution */
  ::-webkit-input-placeholder { text-align:right; }
  /* mozilla solution */
  input:-moz-placeholder { text-align:right; }

  #vertical-align {
    // background-color: black;
    // vertical-align: middle;
    // margin: 0 auto;
  }
