.right-align {
  text-align: right;
    
}

.rtl-direction {
  direction: rtl;
}
  /* webkit solution */
  ::-webkit-input-placeholder { text-align:right; }
  /* mozilla solution */
  input:-moz-placeholder { text-align:right; }

#vertical-align {
  // background-color: black;
  // vertical-align: middle;
  // margin: 0 auto;
}

#root {
  height: 100%;
  >div{
    height: 100%;
  }

}
