.teacher {
    font-family: heebo;
    background: gainsboro;
    outline: none !important;
   .content {
        height: 86%;
        display: block;
        >div {
            display: block;
            &.topDiv {
                height: 75%;
                >div {
                    width: 40%;
                    height: 85%;
                    display: inline-block;
                    margin: 2% 5%;
                    &.rightDiv {

                    }
                    >.noData {
                        text-align: center;
                        position: fixed;
                        /* top: 60px; */
                        margin: 17%;
                    }
                }
            }
            &.bottomDiv {
                >div {
                    display: block;
                    width: initial;
                    height: 80%;
                    padding-top: 10px;
                    width: 80%;
                    margin: 0 auto;
                }
            }
        }
        .progressBar {
            text-align: center;
            .progressBarTitle {
                color: #546e7a;
                >* {
                    display: inline-block;
                    padding: 5px;
                }
            }
            .MuiLinearProgress-root {
                border-radius: 10px;
                height: 20px;
            }
            .MuiLinearProgress-barColorPrimary{
                background-color: #00b2ff;
            }
            .MuiLinearProgress-colorPrimary{
                background-color: rgba(84, 110, 122, 0.32);
            }     
        }
    } 
}

.dropdown {
    text-align: right !important;
}
.ui.dropdown .menu>.item {
    text-align: right !important;
}

.ui.selection.dropdown {
    margin-bottom: 20px;
}

.MuiTableContainer-root {
    height: inherit;
}

.progressBar {
    text-align: center;
    .progressBarTitle {
        color: #546e7a;
        >* {
            display: inline-block;
            padding: 5px;
        }
    }
    .MuiLinearProgress-root {
        border-radius: 10px;
        height: 20px;
    }
    .MuiLinearProgress-barColorPrimary{
        background-color: #00b2ff;
    }
    .MuiLinearProgress-colorPrimary{
        background-color: rgba(84, 110, 122, 0.32);
    }     
}
